.main-menu{
	display: flex;
	justify-content: space-between;
	width: 500px;
	list-style: none
}



.menu-link{
	text-transform: uppercase;
	color: #ffffff;
	font-size: 13px;
}

.main-menu-container{
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px
}

.header{
	background-image: url('./images/background.jpg');
	height: 890px;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-title{
	color: #ffffff;
	font-size: 40px;
	margin-top: 300px;
	margin-left: 50px;
	text-transform: uppercase;
}

.subtitle{
	color: #ffffff;
	font-size: 15px;
	margin-left: 200px;
	text-transform: uppercase;

}

.main{
	background: #a2ca28;
}

.benefits{
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding-left: 0;
	color: #ffffff;
	padding-top: 40px

}

.link-item{
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

.benefits-title{
	font-size: 24px
}

.benefits-text{
	font-size: 14px
}

.main-second{
	display: flex;
	justify-content: center;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 110px;
}

.article1{
	background: #ffffff;
	text-align: center;

}

.second-title{
	color: #a2ca28;
	font-size: 30px;
	text-transform: uppercase;
	width: 300px

}

.third-title{
	font-size: 12px;
	color: #fb634c;
}

.link-feature{
	color: #a2ca28;
	font-size: 12px;
}

.main-third{
	display: flex;
	justify-content: center;
	margin-right: 200px;
	margin-left: 200px;
}

.text-feature{
	font-size: 12px;
	color: #757e83
}